{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home page</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}">

  </script>
</head>
<body>
  <h1>Restaurant sign-up page</h1>
  <!--this function render log out method. -->
  <form method="POST" class="form-horizontal" enctype="multipart/form-data">

    {% csrf_token %} <!-- always include in forms, it is for security -->
    <div class="control-group">
      <div class="controls">
        {{user_form}}
        {{restaurant_form}}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Sign In</button>
      </div>
    </div>
  </form>
</body>
</html>
